* {
    text-decoration: none;
    margin: 0;
}


/*Navbar section*/
.navbar {
    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    position: sticky;
    z-index: 100;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.compname a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
}

.navbar a ion-icon {
    color: rgb(176, 137, 31);
    font-size: 2.3rem;
    font-weight: 900;
}

.navlist li a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

.navlist li a:hover {
    color: rgb(176, 137, 31);
}

.navlist {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 16rem;

}

.navlist li {
    list-style: none;
    display: inline-flex;
    margin-left: 2.8rem;
    font-size: 1rem;
    font-weight: 200;

}

/* hero section*/
.herobg {
    min-height: 100vh;
    background: url("Images/hero.webp") center / cover no-repeat;
    filter: brightness(0.7);
    background-attachment: fixed;

}

.herotext {
    position: absolute;
    top: 30%;
}

.herotext h2 {
    font-style: normal;
    color: white;
    font-size: 5rem;
    font-weight: 1000;
    padding-left: 2rem;
    margin-bottom: 3rem;

}

.herotext a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    margin-left: 2rem;
    background-color: white;
    border: 2px;
    padding: 1rem 2rem;
    transition: all 0.3s ease;
}

.herotext a:hover {
    color: brown;
}

/* About us section*/
.Aboutus {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;

}

.aboutimg img {
    width: 100%;
    height: auto;
    position: absolute;
    margin-right: 1rem;
    position: sticky;

}

.abouttext {
    margin-left: 2rem;
    width: 50rem;
    margin-top: 10rem;
}

.abouttext h3 {
    margin-top: 3rem;
    font-size: 3rem;
    margin-left: 1.5rem;
    text-align: left;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.abouttext p {
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 15px;
    font-weight: 100;
    font-family: 'Roboto Condensed', sans-serif;
    width: 70%;
    line-height: 1.6rem;
    margin-bottom: 3rem;
}

.abouttext a {
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
    margin-left: 2rem;
    font-size: 1rem;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
    transition: all 0.3s ease;
}

.abouttext a:hover {
    background-color: rgb(152, 95, 25);
}

/* Why Choose Us*/
.WhyChooseUs {
    text-align: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.WhyChooseUs h2 {
    font-size: 2.5rem;
    letter-spacing: 1.2px;
    font-weight: 700;

}

.reasons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 6rem;
}

.reasons div {
    margin-left: 3rem;
    text-align: center;
    width: 50%;
}

.reasons div h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-left: 2rem;
    width: 70%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(152, 95, 25);
}

.reasons div p {
    font-size: 1.3rem;
    font-weight: 100;
    margin-top: 2rem;
    margin-right: 4rem;
    width: 90%;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}

/* service section*/

.Services {
    margin-top: 5rem;
    padding-top: 4rem;
    background-color: rgb(239, 238, 238);
}

.Services h2 {
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 1.2px;
    font-weight: 700;
}

.servicelist {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.servicelist div {
    margin: 3rem;
    text-align: center;
    width: 60%;
}

.servicelist div h3 {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 15rem 3rem 15rem 3rem;
    margin-top: 2rem;
    width: 70%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(233, 233, 233);
    text-shadow: 1px 1px 2px black;
}

.Services button a {
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;

}

.Services button {
    background-color: black;
    padding: 1rem 2rem;
    margin-left: 40%;
    margin-top: 2rem;
    margin-bottom: 3rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.Services button:hover {
    background-color: rgb(152, 95, 25);
}

/*cusomers review section*/
.customers {
    background-color: rgb(255, 255, 255);
    padding-top: 6rem;
    padding-bottom: 4rem;
}

.customers h3 {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.customersreview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem
}

.customersreview div {
    margin: 2rem;
    text-align: center;
    width: 40%;
}

.customersreview ion-icon {
    font-size: 3rem;
    color: rgb(12, 12, 12);
    margin-bottom: 4rem;
}

.customersreview p {
    font-size: 1.2rem;
    font-style: oblique;
    margin-bottom: 2rem;
    line-height: 1.6rem;
}

.customersreview h5 {
    font-size: 1.8rem;
    font-weight: 800;
    margin-top: 5rem;
    color: rgb(152, 95, 25);
}


/* contact us section*/
.contactview {
    background-color: black;
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.introaspect {
    color: whitesmoke;
    margin-top: 5rem;
    margin-left: 5rem;
    width: 40%;
    line-height: 3rem;
}

.introaspect h2 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.introaspect p {
    font-size: 1.2rem;
    font-weight: 100;
    margin-bottom: 2rem;
}

.introaspect a {
    text-decoration: none;
    color: whitesmoke;
}

.inputes {
    margin-top: 5rem;
    margin-right: 5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.inputes input {
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid gray;
    border-radius: 4px;
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    line-height: 1rem;
    margin-bottom: 3rem;
    background-color: black;
    color: white;
}

.inputes input:focus {
    outline: none;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.inputes a {
    text-decoration: none;
    color: black;
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.inputes a:hover {
    color: brown;
}

/*sponsors*/
.sponsorssection {
    padding-top: 5rem;
    padding-bottom: 4rem;
    background-color: rgb(239, 238, 238);
}

.sponsors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7rem;

}

.sponsors img {
    margin-top: 2rem;
    height: 8rem;
    width: 9rem;
}

.sponsorssection p {
    margin: 8rem;
    width: 50%;
    font-size: large;
    font-weight: 400;
    color: rgb(171, 171, 171);
}

.socialinks {
    margin-right: 3rem;
    margin-top: -9rem;
}

.socialinks a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    float: right;
    margin-right: 1rem;
    transition: all 0.3s ease;
}

.socialinks a:hover {
    color: rgb(170, 170, 170);
}



/*Mobil view*/
@media (max-width: 768px) {

    body {
        font-size: 16px;
        line-height: 1.5;
        overflow-x: hidden;
        margin: 0;
    }


    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        position: relative;
        overflow-x: hidden;
        width: 94%;
    }

    .navlist {
        display: none;
    }


    /* Hero Section */
    .herobg {
        min-height: 70vh;
        filter: brightness(0.7);
        width: 103%;
        background-attachment: scroll;
        overflow-x: hidden;
        margin-right: 0;


    }

    .herotext {
        width: 100%;
        text-align: center;
    }

    .herotext h2 {
        font-size: 2.7rem;
        line-height: 1.2;
    }

    .herotext p {
        margin-top: 1rem;
    }

    .herotext a {
        margin-left: 0;
    }


    /* About Us Section */
    .Aboutus {
        flex-direction: column-reverse;
        gap: 4rem;
        justify-content: space-between;

    }

    .aboutimg img {
        margin-top: 8rem;
        width: 103%;
        margin: 0;
    }

    .abouttext {
        width: 90%;
        margin: 0;
        text-align: center;
    }

    .abouttext h3 {
        font-size: 1.4rem;
        font-size: 200;
        letter-spacing: 1.4;
        text-align: center;
        justify-content: center;
    }

    .abouttext p {
        width: 80%;
        text-align: center;
        margin: 0;
        padding-left: 2.8rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        justify-content: center;
    }

    .abouttext a {
        margin-bottom: 7rem;

    }


    /* Why Choose Us Section */
    .WhyChooseUs {
        padding: 4rem 1rem;
    }

    .reasons {
        flex-direction: column;
        margin-top: 3rem;
    }

    .reasons div {
        width: 100%;
        margin: 0 0 3rem 0;
    }
    .reasons div h3{
        width: 70%;
        margin: 0;
        padding-left: 3rem;
    }
    .reasons div p {
        width: 90%;
        margin: 1rem auto;
    }



    /*  Services Section  */
    .Services {
        padding: 4rem 1rem;
        width: 94%;
    }

    .Services h2 {
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 300;
}
.servicelist h3{
     margin-left: -1rem;
     justify-content: end;
}

    .servicelist {
        flex-direction: column;
    }

    .servicelist div {
        width: 100%;
        margin: 0 0 1.5rem 0;
    }

    .servicelist div h3 {
        width: 100%;
        padding: 8rem 1rem;
        background-size: cover !important;
    }

    .Services button {
        display: block;
        margin: 2rem 0 0 1rem;
        width: 90%;
        padding:1rem 1.5rem;
    }

    /*  Customers Review Section  */
    .customers {
        padding: 4rem 1rem;
    }

    .customers h3 {
        font-size: 2rem;
        width: 100%;
    }

    .customersreview {
        flex-direction: column;
    }

    .customersreview div {
        width: 100%;
        margin: 0 0 3rem 0;
    }

    /*  Contact Us Section  */
    .contactview {
        flex-direction: column;
        padding: 4rem 1rem;
        gap: 3rem;
        width: 96%;
    }

    .introaspect,
    .inputes {
        width: 100%;
        margin: 0;
        text-align: left;
    }

    .inputes input {
        width: 100%;
        box-sizing: border-box;
    }

   
    
    /*Sponsors Section*/
    .sponsorssection {
        padding: 4rem 1rem;
        width: 95%;
    }

    .sponsors {
        flex-direction: column;
        gap: 3rem;
    }

    .sponsorssection p {
        width: 90%;
        margin: 4rem auto 2rem auto;
        text-align: center;
    }
    .footer{
        display: flex;
        flex-direction: column-reverse;
    }

    .socialinks {
        margin: 0;
        text-align: center;
        float: none;
        padding-top: 1rem;
    }

    .socialinks a {
        float: none;
        display: inline;
        margin: 0 0.5rem;
    }
}